.container-pesquisa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: black;
    color: #d9d9d9;
}

.menu-global {
    display: flex;
    justify-content: center;
}

.links-global{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style-type: none;
    background-color: #a9a9a91a;
    flex-wrap: wrap;
}

.links-global li {
    margin: 0.5rem;
}

.links-global a {
    text-decoration: none;
    color: black;
}

.container-logo {
    width: 10%;
}

.container-logo img {
    width: 100%;
}

.botao_busca {
    background-color: transparent;
    border: none;
    color: white;
}

.caixa_busca {
    display: flex;
    align-items: center;
}

.carrinho_login a {
    color: white;
    padding: 0.4rem;
}