.container-pesquisa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: black;
    color: #d9d9d9;
}

.menu-global {
    display: flex;
    justify-content: center;
}

.links-global {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style-type: none;
    background-color: #a9a9a91a;
    flex-wrap: wrap;
}

.links-global li {
    margin: 0.5rem;
}

.links-global a {
    text-decoration: none;
    color: black;
}

.container-logo {
    width: 10%;
}

.container-logo img {
    width: 100%;
}

.botao_busca {
    background-color: transparent;
    border: none;
    color: white;
    padding: 0;
}

.caixa_busca {
    display: flex;
    align-items: center;
}

.carrinho_login {
    display: flex;
    flex-wrap: wrap;
}

.carrinho_login a {
    color: white;
}

.carrinho_login .material-symbols-outlined {
    margin-right: 2rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.conteudo-dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: black;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .conteudo-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media only screen and (max-width: 600px) {
    .container-pesquisa {
        flex-direction: column;
    }

    .container-logo {
        width: 40%;
    }

    .container-busca {
        width: 100%;
    }

    .container-busca #busca {
        width: 100%;
    }
}