.container-imagem-formulario {
    display: flex;
    align-items: center;
    margin: 1rem;
    justify-content: space-evenly;
}

.container-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: black; 
    color: white;
    font-weight: 600;
}

.elemento-form-cadastro {
    margin: 0.5rem;
    display: flex;
    align-items: center;
}

.elemento-form-cadastro input, textarea {
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 10px;
}

.elemento-form-cadastro label {
    font-size: 20px;
}

.elemento-form-cadastro button {
    font-size: 22px;
}

@media only screen and (max-width: 600px) {
    .container-imagem {
        display: none;
    }
}