.container-carrossel {
    margin: 1rem;
}

/* container dos slides */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* oculta as imagens por padrão */
.mySlides {
    display: none;
}

/* buttons botoes proximo e anterior */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* posiciona o botao proximo no lado direito */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* no hover, adiciona um fundo preto com um pouco de transparencia */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* legenda do texto */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
}

/* texto dos numeros */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* as bolinhas */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* animacao de fading */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}