table {
    text-align: center;
    margin: 1rem;
    width: 95%;
}

th, td {
    padding: 0.5rem;
    background-color: #80808026;

}

.container-carrinho {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.container-tabela {
    width: 100%;
    overflow: auto;
}

.container-total {
    width: 20%;
    padding: 0.5rem;
}