.container-forma {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

.container-endereco-forma-pagamento {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem;
}