.container-form-login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*quando usamos o top e o left estamos posicionando a div usando como referencia o canto esquerdo superior dela
    o transform ajuda a posicionar melhor pois nele estamos reposicionando a div em relaçao as suas proprias coordenadas
    Isso é útil quando você não sabe o tamanho exato da div ou quando deseja centralizar a div independentemente do tamanho dela.
    */
}

.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: black;
}

.container-login label {
    color: white;
    font-weight: 600;
}

.container-login a {
    color: white;
}

.form-login {
    display: flex;
    justify-content: center;
}

.elemento_form_login {
    margin: 0.5rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.elemento_form_login input {
    padding: 0.5rem;
    margin: 0 0.5rem;
}

.elemento_form_login a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .container-form-login {
        position: unset;
        transform: none;
    }
}