footer {
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.texto_rodape {
    display: flex;
    flex-direction: column;
}

.container_contatos span{
    margin: 0.5rem;

}

.container_redes_sociais{
    display: flex;
}


.redes_sociais {
    margin: 0.5rem;
    color: white;
    font-size: 30px;
}