* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
    border: none;
    /* Remove borders */
    color: black;
    /* Add a text color */
    padding: 14px 28px;
    /* Add some padding */
    border-radius: 16px;
    font-size: 14px;
}

button:hover {
    background-color: #ddd;
}

.botao-info {
    background-color: black;
    color: white;
}
.botao-info:hover {
    background-color: #000000bd;
}

.material-symbols-outlined {
    font-size: 30px;
}